:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  flexDirection:'column'

}

/*paleta de coloressss
F5F5F5 blanco
98A3AF cool gray
3EA4DC azul sky
9CDFF9 azul soft
060D15 oscuro

*/

.header{
  padding:40px;
  
}

button{
  border: none;
  padding:10px 15px;
  border-radius:10px;
  color: #3EA4DC;
  font-weight:600;
}

button:hover{
  transition: .3s,
  background-color: #95acd0;
}

.icon{
  margin:0px 8px;
}

.logo{
  font-size:70px;
  color:#3EA4DC;
}

.saldo{
  background-color: #060D15;
  padding:0px 8px;
  border-radius:10px;
  color: #95acd0;
}

.svg{
  width:70px;
}

.buttons-pay{
  display:flex;
  flex-direction:column;
}
.buttons-pay button{
  width: 300px;
  margin-top:10px;
  height: 60px;
}
input{
  border:none;
  border-radius:10px;
  padding:8px 10px;
}

.nequiModal{
  background-color: #95acd0;
  position: absolute;
  bottom: 0;
  z-index: 9;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: left;
  padding: 30px 50px;
  width: 70%;

}

.close{
  position: absolute;
  right: 20px;
  font-size: 30px;
}

.close:hover{
  color: #060D15;
  transition: .3s;
}

.navbar{
  position: absolute;
  bottom: 0;
  padding: 10px;
  min-width: 100vw;
  justify-content: space-around;
  display: flex;
  background-color: #060D15;
}

.navbar i {
  font-size: 25px;
  color: #95acd0;
}

.mapa {
  width: 100%;
  height: 80%;
  border-radius: 20px;
}

.mapContainer{
  width: 90%;
  height: 70%;
  border-radius: 20px;
  background-color: #060D15;
  justify-content: center;
  align-items: start;
  display: flex;
  margin: 0px 20px;
  padding: 15px;
  flex-direction: column;

}